#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #fffbf9;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
  color: #4b68d0;
  font-weight: 700;
  background: linear-gradient(50deg, #d90429, blue);
  background-clip: text;
  color: transparent;
}
