body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffbf9;
  position: relative;
  font-family: "Poppins", sans-serif;
}

#container {
  padding: 50px;
}

.left {
  position: absolute;
  left: 30px;
  top: 200px;
  display: flex;
  flex-direction: column;
}

.khung_chua_nut {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.nuts {
  border-radius: 40px;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 10px;
  width: 200px;
  outline: none;
  border: none;
}

.nut_reset {
  color: #fffbf9;
  background: linear-gradient(45deg, #d90429, blue);
}

.nut_reset:hover {
  background: linear-gradient(200deg, #d90429, blue);
}

.khung_chua_nut .nut_nguoi_choi {
  font-size: 35px;
  margin-right: 40px;
}

.nuts:hover {
  cursor: pointer;
}

.nut_home {
  background: linear-gradient(45deg, #d90429, blue);
  color: #fff;
}

.nut_home:hover {
  background: linear-gradient(200deg, #d90429, blue);
}

table {
  border: 1px solid #000;
}

td {
  text-align: center;
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  font-weight: 600;
}

td:hover {
  cursor: pointer;
  background-color: #ddd;
}

#result {
  width: 300px;
  height: 300px;
  margin: auto;
}

#who_win {
  color: blue;
  font-weight: 700;
}

#show_status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
  width: 300px;
  background-color: #fffbf9;
  box-shadow: 5px 6px 20px 2px #ddd;
  display: none;
  position: absolute;
  top: 29%;
  left: 37%;
  animation: ease-in-out 0.2s ShowStatus;
  width: 360px;
}

#header_status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 100px;
  border-radius: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #fffbf9;
  background: linear-gradient(45deg, #d90429, blue);
  margin-bottom: 30px;
}

#gamestatus {
  width: auto;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

#show_status .btn_reset {
  display: flex;
  justify-content: center;
}

@keyframes ShowStatus {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

/* Âm thanh */
#audioDanhCo {
  display: none;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  right: 100px;
}

#clock .time {
  font-size: 60px;
  color: #fff;
  padding: 50px;
  font-weight: 600;
}

.luatchoi {
  position: absolute;
  bottom: 0;
  font-weight: 500;
  font-size: 18px;
}

.luatchoi .law {
  font-size: 30px;
  font-weight: 600;
  color: #00296b;
}
